<!-- <h1>This is Home page</h1>

<a href="/form">To form page</a> -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Main Page</title>

		<link rel="stylesheet" href="MainPage.css" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<style>
			.main {
				width: 100%;
				/* height: 100vw; */
			}
			.description {
				width: 100%;
				/* height: 200vw; */
				background-color: #daebf8;
			}
			.Chatbot {
				background-color: #ecf7ff;
				height: 500px;
			}
			.footer {
				width: 100%;
				height: 200px;
				right: 0;
				background-color: #2b2b2b;
				margin-bottom: 0;
			}
			.Final {
				width: 100%;
				height: 500px;
			}
			.colums {
				text-align: center;
			}

			.container {
				text-align: center;
			}
			.main-txt {
				text-align: center;
				justify-items: center;
				align-items: center;
			}

			img {
				display: block;
				height: 100%;
				width: 100%;
			}

			.container-one {
				position: relative;
				display: inline-block;
				background-color: #f0f8fe;
				background-image: url("/images/Layer 2.svg");
				/* width: 10px; */
			}
			.heading {
				text-align: left;
				/* position: absolute;
    top: 10%;
    left: 10%;
    font-size: 4.5rem; */

				margin-top: 10%;
				margin-left: 5%;
				/* margin-right: 10%; */
				padding-left: 5%;
				padding-right: 10%;
				font-size: 50px;
				font-weight: bolder;
				font-family: "TT Norms Black";
				color: #264373;
			}
			.heading p {
				padding-right: 5%;
				width: 80%;
				height: 100%;
				z-index: 2;
			}
			.txt {
				text-align: left;
				/* position: absolute;
    margin-left: 20px;
    margin-right: auto;
    bottom: 10%;
    left:10% ;
    right: 5%; */
				display: flex;
				justify-content: center;
				align-items: center;
				padding-left: 10%;
				padding-right: 10%;
				font-size: 24px;
				color: #3282b8;
			}
			.button {
				position: relative;
				align-items: left;
				right: 50%;
				left: 10%;
				width: 200px;
				height: 50px;
				margin-top: 50px;
				margin-bottom: 20px;
				border-radius: 200px;

				border: 2px solid #3282b8;
				background-color: #f0f8fe;
				color: #264373;
				float: left;
			}
			a :hover {
				background-color: #264373;
				color: #f0f8fe;
				border: none;
			}
			.container,
			.column {
				align-items: center;
			}
			.title {
				align-items: center;
				align-content: center;
			}
			.title p {
				margin: 50px auto;
				font-family: "TT Norms Black";
				font-size: 40px;
				color: #264373;
			}
			.title .details {
				margin: 50px auto;
				font-family: "TT Norms Medium";
				font-size: 40px;
				color: #264373;
			}
			.info {
				text-align: left;
				margin: auto 50px;
				font-family: "TT Norms Medium";
				color: #3282b8;
				font-size: large;
			}
			.last {
				padding-bottom: 20px;
			}
			.title a {
				margin: 0px auto;
				font-family: "TT Norms Medium";
			}
			.title a button {
				margin-top: -10px;
				background-color: white;
			}
			.title a button:hover {
				background-color: #264373;
				color: #ffffff;
				border: none;
			}
			.foot p {
				color: #ecf7ff;
				font-family: "TT Norms Medium";
			}
		</style>
	</head>
	<body>
		<div class="main">
			<div class="row">
				<div class="col-6-lg col-md-6 col-sm-12">
					<img src="/images/Group 1.svg" alt="" width="95%" />
				</div>

				<div
					class="col-6-lg col-md-6 col-sm-12 main-txt container-one"
					background-image="/images/Layer 2.svg"
				>
					<div class="row heading">
						<!-- <div class="back">
                        <img class="ellipse" src="Layer 2.svg" alt="" >
                     </div> -->

						<p>
							SIAM VIT
							<br />
							Recruitments
						</p>
					</div>
					<div class="row txt">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum
						debitis, inventore quod reprehenderit minus rem illo quis voluptatem
						ea iusto eum. Adipisci eius assumenda commodi! Eaque assumenda
						consectetur qui veniam. Lorem Ipsum is simply dummy text of the
						printing and typesetting industry. Lorem Ipsum has been the
						industry's standard dummy text ever since the 1500s, when an unknown
						printer took a galley of type and scrambled it to make a type
						specimen book.
					</div>

					<a href="/form"> <button class="button">Register Now!</button></a>
				</div>
			</div>
		</div>
		<!-- From Here we see the description of the process -->
		<div class="description">
			<div class="container">
				<div class="row title">
					<p>Round-1</p>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 column">
						<img src="/images/Group 2.svg" alt="" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 column">
						<div class="row title">
							<p class="details">Online Quiz</p>
						</div>
						<div class="info">
							<p>
								Lorem, ipsum dolor sit amet consectetur adipisicing elit.
								Quibusdam cumque aliquid obcaecati voluptatem reiciendis neque
								eum ducimus labore tenetur. Sunt quas quasi repellat obcaecati
								nobis qui quia voluptas tempore voluptate.
							</p>
						</div>
					</div>
				</div>
				<div class="row title">
					<p>Round-2</p>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 column">
						<div class="row title">
							<p class="details">Group Discussion</p>
						</div>
						<div class="info">
							<p>
								Lorem, ipsum dolor sit amet consectetur adipisicing elit.
								Quibusdam cumque aliquid obcaecati voluptatem reiciendis neque
								eum ducimus labore tenetur. Sunt quas quasi repellat obcaecati
								nobis qui quia voluptas tempore voluptate.
							</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 column">
						<img src="/images/Group 3.svg" alt="" />
					</div>
				</div>

				<div class="row title">
					<p>Round-3</p>
				</div>
				<div class="row last">
					<div class="col-lg-6 col-md-6 col-sm-12 column">
						<img src="/images/Group 4.svg" alt="" />
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 column">
						<div class="row title">
							<p class="details">Personal Interview</p>
						</div>
						<div class="info">
							<p>
								Lorem, ipsum dolor sit amet consectetur adipisicing elit.
								Quibusdam cumque aliquid obcaecati voluptatem reiciendis neque
								eum ducimus labore tenetur. Sunt quas quasi repellat obcaecati
								nobis qui quia voluptas tempore voluptate.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Till Here we see the description of the process -->

		<!-- This is ML module -->
		<div class="Chatbot">
			<div class="container">
				<div class="row title">
					<p>Something Related to ML module</p>
				</div>
			</div>
		</div>
		<!-- This is ML module -->
		<!-- This is the final register here space -->
		<div class="Final">
			<div class="container">
				<div class="row title">
					<p>A chance to be a part of the SIAM family</p>
				</div>
				<div class="row title">
					<a href="/form"> <button class="button">Register Now!</button></a>
				</div>
			</div>
		</div>
		<!-- This is the final register here space -->

		<div class="footer">
			<div class="container">
				<!-- <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row title foot">
                    <p>hi</p> 
                </div>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row title foot">
                <p>hi</p> 
            </div></div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row title foot">
                <p>hi</p> 
            </div></div>

        </div> -->
			</div>
		</div>
	</body>
</html>
