<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succesfully Registered!</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    />
</head>
<body>
    
</body>
</html>
<div class="container">
    <div class="jumbotron" style="background-color: rgb(238, 249, 255);">
        <h1 class="display-4" style="font-family: TT Norms Black; color: #264373;">Success!</h1>
        <p class="lead" style="font-family: TT Norms ">You Have successfully Registered for SIAM Recruitments</p>
        <hr class="my-4">
        <p style="font-family: TT Norms ">Hope you join the Family</p>
        <a class="btn btn-primary btn-lg" href="/" role="button"  style="font-family: TT Norms ">Let's go home</a>
      </div>
</div>


